[submodule "related/CvxpyLayers"]
	path = related/CvxpyLayers
	url = git@github.com:leo2www/cvxpylayers.git
[submodule "related/cvxpy"]
	path = related/cvxpy
	url = git@github.com:leo2www/cvxpyComplex.git
[submodule "related/diffcp"]
	path = related/diffcp
	url = git@github.com:hazysite/diffcp.git
[submodule "related/MOI"]
	path = related/MOI
	url = git@github.com:jump-dev/MathOptInterface.jl.git
